<p class = "searchP">Filter Search:</p>
<br>

<div class="searchDiv">
    <input type="checkbox" id="textBooks" name="textBooks">
    <label for="textBooks">Text Books</label>
<br>
    <input type="checkbox" id="furniture" name="furniture">
    <label for="furniture">Furniture</label>
<br>
    <input type="checkbox" id="clothes" name="clothes">
    <label for="clothese">Clothes</label>
<br>
    <input type="checkbox" id="electronics" name="electronics">
    <label for="electronics">Electronics</label>
<br>
    <input type="checkbox" id="schoolMats" name="schoolMats">
    <label for="schoolMats">School Materials</label>
<br>
    <input type="checkbox" id="etc" name="etc">
    <label for="etc">Etc</label>
  </div>
