<p class = "searchP">Filter Search:</p>
<br>

<div class="searchDiv">
    <input class="form-check-input" type="radio" id="textBooks" name="test">
    <label class="form-check-label" for="textBooks">Text Books</label>
<br>
    <input class="form-check-input" type="radio" id="furniture" name="test">
    <label class="form-check-label" for="furniture">Furniture</label>
<br>
    <input class="form-check-input" type="radio" id="clothes" name="test">
    <label class="form-check-label" for="clothese">Clothes</label>
<br>
    <input class="form-check-input" type="radio" id="electronics" name="test">
    <label class="form-check-label" for="electronics">Electronics</label>
<br>
    <input class="form-check-input" type="radio" id="schoolMats" name="test">
    <label class="form-check-label" for="schoolMats">School Materials</label>
<br>
    <input class="form-check-input" type="radio" id="etc" name="test">
    <label class="form-check-label" for="etc">Etc</label>
  </div>

  <button class="btn btn-primary" (click)="newSearch()">Search</button>
<br>
<br>
<br>

  <img src="../assets/BisonLogo.jpg" class="img-fluid" alt="North Dakota State Bison logo" width='800' height ='500'>
