<p class = "searchP">Filter Search:</p>
<br>

<div class="searchDiv">
    <input class="form-check-input" type="checkbox" id="textBooks" name="textBooks">
    <label class="form-check-label" for="textBooks">Text Books</label>
<br>
    <input class="form-check-input" type="checkbox" id="furniture" name="furniture">
    <label class="form-check-label" for="furniture">Furniture</label>
<br>
    <input class="form-check-input" type="checkbox" id="clothes" name="clothes">
    <label class="form-check-label" for="clothese">Clothes</label>
<br>
    <input class="form-check-input" type="checkbox" id="electronics" name="electronics">
    <label class="form-check-label" for="electronics">Electronics</label>
<br>
    <input class="form-check-input" type="checkbox" id="schoolMats" name="schoolMats">
    <label class="form-check-label" for="schoolMats">School Materials</label>
<br>
    <input class="form-check-input" type="checkbox" id="etc" name="etc">
    <label class="form-check-label" for="etc">Etc</label>
  </div>

  <button class="btn btn-primary" (click)="newSearch()">Search</button>
<br>
<br>
<br>

  <img src="../images/North_Dakota_State_Bison_logo.svg.png" class="img-fluid" alt="North Dakota State Bison logo">
